html{
    background-color: #1aa3ff;
}

.mainCard{
    background-color: #15c7f4;
    padding: 50px;
    width: 50%;
    margin: auto;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}

.searchBox{
    background-color: aqua;
    border-radius: 10px;
    height: 20px;
    width: 150px;
    border: 2px solid aqua;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    padding: 10px;
}

.listItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.25rem;
    color: white;
}

.showButton{
    border-radius: 10px;
    font-size: 1rem;
    background-color: aqua;
    border: 1px white;
}

.showButton:hover{
    border-radius: 10px;
    font-size: 1rem;
    background-color: #1aa3ff;
    border: 1px white;
    color: white;
}